script(src='http://cdn.alloyteam.com/assets/libs/jquery-4dc834.js')
script(src='http://cdn.alloyteam.com/assets/libs/bootstrap-1e25df.js')
//- //- script(src='http://cdn.alloyteam.com/assets/js/index-90cef9.js')
