@import "_partial/global.css"
@import "_partial/header.css"

if is_home()
  @import "home.css"
  
if is_archive() || is_category() || is_tag()
  @import "archive.css"
  @import "_partial/sidebar.css"
  
if is_post() || is_page()
  @import "post.css"
  
@import "_partial/footer.css"

header#header
	background: #26282c
	padding: 0
	
article#page
	width: 960px
	margin: 0 auto
	padding: 80px 0
	min-height: 800px